* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

canvas {
  /* background: linear-gradient(
    -45deg,
    rgba(238, 119, 82, 0.41),
    rgba(129, 106, 115, 0.4),
    rgba(35, 166, 213, 0.4),
    rgba(35, 213, 171, 0.41)
  ); */
  background: linear-gradient(-45deg, #febf63, #ede682, #ade498, #7fdbda);
  width: 100%;
  /* background: black; */
  height: 100vh;
  animation: Gradient 15s ease infinite;
}

h1 {
  z-index: 1;
  position: absolute;
  top: 200px;
  left: 100px;
  color: white;
  transition: 0.9s ease;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family: "Open Sans";
  letter-spacing: 7px;
}

body::-webkit-scrollbar {
  width: 0 !important;
}
